* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: black;
}

.product-card {
  width: 800px;
  height: 500px;
  margin: 120px auto 0 auto;
  display: flex;
  background-color: white;
}

.left-img-col {
  width: 50%;
  height: 100%;
}

.left-img-col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.right-info-col {
  width: 50%;
  padding: 20px;
}

/* Headings */
.right-info-col h3 {
  font-size: 32px;
  color: black;
  margin-bottom: 15px;
}

.right-info-col h5 {
  font-size: 18px;
  color: lightgray;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
}

/* Description */
.right-info-col p {
  font-size: 14px;
  color: black;
  padding-left: 50px;
  margin-bottom: 20px;
  line-height: 1.4;
}

/* here is the available colors section */
.available-colors {
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.colors-label {
  font-size: 14px;
  color: black;
}


.black-color-container,
.red-color-container,
.white-color-container {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}

.black-color-container {
  background-color: black;
}

.red-color-container {
  background-color: red;
}

.white-color-container {
  background-color: beige;
}

/* code for price and button */
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.price h4 {
  font-size: 32px;
  color: black;
}

/* here is the code for the button*/
.buy-btn {
  width: 150px;
  height: 40px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}
